<div class="w1200 content cut-all">
    <!--left-->
    <div id="left-panel" class="panel bgh cut-left">

        <div class="dd_lt">
            <img src="src/resource/images/table_02.jpg" width="160" height="240">

            <div class="dd_lt_div">
                <p class="dph">灯编号<i class="c_green" ng-bind="detail.lightNum"></i></p>
            </div>
            <div class="dd_lt_div">
                <p>经度：<i ng-bind="detail.lng"></i></p>

                <p>纬度：<i ng-bind="detail.lat"></i></p>

                <p>实时电流：<i ng-bind="detail.current"></i>A</p>

                <p>实时电压：<i ng-bind="detail.voltage">220v</i></p>

                <p>实时功耗：<i ng-bind="detail.power"></i>w</p>

                <p ng-show="detail.environment!=null">温度：<i ng-bind="detail.temperature"></i></p>

                <p ng-show="detail.environment!=null">湿度：<i ng-bind="detail.humidity"></i>%</p>

                <p ng-show="detail.environment!=null">PM2.5：<i ng-bind="detail.pm2p5"></i></p>
            </div>
            <div class="dd_lt_div">
                <p ng-if="detail.light==1">路灯情况：<i class="c_green">正常</i></p>

                <p ng-if="detail.light==0">路灯情况：<i class="c_red">故障</i></p>

                <p ng-if="detail.light==null">路灯情况：<i class="c_red">--</i></p>

                <p ng-if="detail.crowd==1">人群情况：<i class="c_green">正常</i></p>

                <p ng-if="detail.crowd==0">人群情况：<i class="c_red">故障</i></p>

                <p ng-if="detail.crowd==null">人群情况：<i class="c_red">--</i></p>

                <p ng-if="detail.environment==1">环境情况：<i class="c_green">正常</i></p>

                <p ng-if="detail.environment==0">环境情况：<i class="c_red">故障</i></p>

                <p ng-if="detail.environment==null">环境情况：<i class="c_red">--</i></p>

                <p ng-if="detail.vehicle==1">车辆情况：<i class="c_green">正常</i></p>

                <p ng-if="detail.vehicle==0">车辆情况：<i class="c_red">故障</i></p>

                <p ng-if="detail.vehicle==null">车辆情况：<i class="c_red">--</i></p>

                <p ng-if="detail.voice==1">语音情况：<i class="c_green">正常</i></p>

                <p ng-if="detail.voice==0">语音情况：<i class="c_red">故障</i></p>

                <p ng-if="detail.voice==null">语音情况：<i class="c_red">--</i></p>
            </div>
        </div>

    </div>
    <!--left/-->
    <div id="page" class="bgh page cut-page">
        <!--单灯右侧 查询-->
        <div class="dd_search">
            <div class="dd_search_div clearfix">
                <span>类型：</span>
                <i ng-class="{'active': lightType==1}" type="1" ng-click="switchLightType($event)">电流</i>
                <i ng-class="{'active': lightType==2}" type="2" ng-click="switchLightType($event)">LED电压</i>
                <i ng-class="{'active': lightType==3}" type="3" ng-click="switchLightType($event)">LED电流</i>
                <i ng-class="{'active': lightType==4}" type="4" ng-click="switchLightType($event)">PWM1功率</i>
                <i ng-class="{'active': lightType==5}" type="5" ng-click="switchLightType($event)">PWM1剩余时间</i>
                <i ng-class="{'active': lightType==6}" type="6" ng-click="switchLightType($event)">温度</i>
                <i ng-class="{'active': lightType==7}" type="7" ng-click="switchLightType($event)">湿度</i>
                <i ng-class="{'active': lightType==8}" type="8" ng-click="switchLightType($event)">PM2.5</i>
                <i ng-class="{'active': lightType==9}" type="9" ng-click="switchLightType($event)">噪声值</i>
            </div>
            <div class="dd_search_div v">
                <span>查询时间：</span>
                <input type="text" class="dd_text" ng-model="$parent.endDate" placeholder="2016-01-01">
            </div>
            <div class="dd_search_div clearfix">
                <span>查询时间段</span>
                <span class="" ng-repeat="item in calibrationOptions">
                    <input type="radio" name="calibration" ng-model="detail.calibration" value="{{item.value}}">
                    <label>{{item.text}}</label>
                </span>
                <input type="sumit" value="查询" class="dd_bt" ng-click="getChartData()">
            </div>
        </div>
        <!--单灯右侧 查询/-->
        <!--单灯右侧 table-->
        <div class="dd_table">
            <!-- <img src="images/table_03.jpg" width="875" height="382"> -->
            <div class="echart">
                <div e-chart style="width: 875px;height: 382px;" options="lightTypeInfo" ng-if="lightTypeInfo"></div>
            </div>
            <p class="spjk_bt"><a href="" ng-click="getVideo()">视频监控</a></p>
        </div>
        <!--单灯右侧 table/-->
    </div>
</div>
<div class="close_bt close-detail" ng-click="closeModal()">x</div>