<div class="login_con">
  <p class="login_logo"><img src="src/resource/images/lm_01.png" width="96" height="107"></p>
  <div class="login_div">
    <div class="login_form">
      <form action="">
        <div class="login_name">
          <input type="text" class="text" placeholder="请输入用户名" ng-model="userName" ng-focus="clearErrorTip()">
        </div>
        <p class="login_tip" ng-bind="userNameTip"></p>
        <div class="login_password">
          <input type="password" placeholder="请输入密码" ng-model="password" ng-focus="clearErrorTip()">
        </div>
        <p class="login_tip" ng-bind="loginTip"></p>
        <div class="login_submit">
          <input type="submit" value="登录" ng-click="login()">
        </div>
      </form>
    </div>
  </div>
</div>
