<i ng-click="itemExpended(item, $event);" class="">

    <!-- <input type="checkbox" ng-model="item.$$isChecked" class="check-box" ng-if="canChecked" ng-change="warpCallback('itemCheckedChanged', item, $event)"> -->
    <span class="flex-ico" ng-class="{'flex-close': !item.$$isExpend}"></span>
    <span class='text-field'  pid="{{item.pid}}" ng-click="warpCallback('itemClicked', item, $event);" ng-bind="item.name"></span>
    <em class="i_edit">
    	<i class="i_add" ng-click="addItemHandler(item.pid, $event)" ng-show="!item.addShow"></i>
    	<i class="i_minus" ng-click="minusItemHandler(item.pid, $event)"></i>
    </em>
    <!-- <span ng-click="addItemHandler(item.pid, $event)" ng-show="!item.addShow">Add</span>
    <span ng-click="minusItemHandler(item.pid, $event)">Minus</span> -->
    <ul ng-if="!isLeaf(item)" ng-show="item.$$isExpend">
        <li ng-repeat="item in item.children" ng-include="'src/common/directive/editLeftTree/editTreeItem.html'"></li>
    </ul>
</i>