<div id="left-panel" class="panel bgh cut-left manipulation_left">
    <ul id="tree" class="lightTreeview">
        <em class="i_edit" ng-show="isSetPage()">
            <i class="i_add" ng-click="demo.addItem(null, $event)"></i>
        </em>
        <edit-tree-view tree-data="demo.tree" text-field="name" value-field='id' showOper="{{isSetPage()}}"
                        item-clicked="demo.itemClicked($item)" item-checked-changed="demo.itemCheckedChanged($item)"
                        add-Item="demo.addItem(item, e)" minus-item="demo.minusItem(item, e)"
                        can-checked="true"></edit-tree-view>
    </ul>
</div>
<div id="page" class="bgh page cut-page manipulation_left">
    <div class="dk_jhms">
        <div class="sssj_con current_light_info">
            <dl>
                <dt>{{locationSetted}}<i></i></dt>
                <dd></dd>
            </dl>
            <dl>
                <dt>{{allLight}}<i>个</i></dt>
                <dd>总路灯</dd>
            </dl>
            <dl>
                <dt>{{openLight}}<i>个</i></dt>
                <dd>打开路灯</dd>
            </dl>
            <dl>
                <dt>{{closeLight}}<i>个</i></dt>
                <dd>关闭路灯</dd>
            </dl>
            <dl>
                <dt>{{faultLight}}<i>个</i></dt>
                <dd>故障路灯</dd>
            </dl>
            <dl ng-show="false">
                <dt>23<i>%</i></dt>
                <dd>可吸入颗粒物</dd>
            </dl>
        </div>
        <div class="dk_msqh">
            <ul>
                <li ng-class="{'active': setPtn===1}" ptn="1" ng-click="switchPtn($event)">手动模式</li>
                <li ng-class="{'active': setPtn===2}" ptn="2" ng-click="switchPtn($event)">计划模式</li>
                <li style="display:none;">自动模式</li>
            </ul>
        </div>
        <div class="dk_time" ng-show="currentLevel!=0">
            <div class="clearfix">
                <div class="dk_time_div">
                    <span>设置类型:</span>
                    <select class="spbx_table dd_text" ng-model="lightCtrl"
                            ng-options="m.value as m.text for m in lightCtrlOptions" ng-change="changeLightCtrl()">
                    </select>
                </div>
                <div class="dk_time_div" ng-show="setPtn==2 && tableLevel==currentLevel">
                    <a href="" class="ld_submit del_ptn_btn" ng-click="delPtn()">删除本级计划</a>
                </div>
            </div>
        </div>
        <div class="dk_time" ng-show="currentLevel!=0 && setPtn==1">
            <div class="clearfix">
                <div class="dk_time_div">
                    <span>持续时间:</span>
                    <input type="text" class="dk_time_txt" ng-model="duration">
                    分钟
                </div>
            </div>
        </div>
        <div class="cut_lbms" ng-show="currentLevel!=0 && setPtn==2" style="color: #fff;">
            <table border="1" cellspacing="0" cellpadding="0" ng-if="settedPlan.length">
                <tbody>
                <tr>
                    <th>设置类型</th>
                    <th>时间段</th>
                    <th ng-if="lightCtrl==6">亮度</th>
                    <th ng-if="lightCtrl!=6">开关</th>
                    <th>设置层级</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="item in settedPlan">
                    <td ng-bind="lightCtrl | lightCtrlShow"></td>
                    <td>{{item.start | minuteTimeShow}}-{{item.end | minuteTimeShow}}</td>
                    <td ng-if="lightCtrl==6">{{item.brightness}}%</td>
                    <td ng-if="lightCtrl!=6" ng-bind="item.brightness | onOffShow"></td>
                    <td ng-bind="tableLevel | levelShow"></td>
                    <td>
                        <button class="btn btn-primary edit-btn" ng-click="deletePlan($index)">编辑</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="dk_time" ng-show="currentLevel!=0 && setPtn==2 && isEditPlan">
            <div class="clearfix">
                <!-- <div class="dk_time_div">
                    <span>开灯时间:</span>
                    <input type="text" class="dk_time_txt" ng-model="startHour" readonly>
                    时
                    <input type="text" class="dk_time_txt" ng-model="startMinute" readonly>
                    分
                </div> -->
                <div class="dk_time_div">
                    <span>关灯时间:</span>
                    <input type="text" class="dk_time_txt" ng-model="endHour" ng-readonly="isLastPlan">
                    时
                    <input type="text" class="dk_time_txt" ng-model="endMinute" ng-readonly="isLastPlan">
                    分
                </div>
            </div>
        </div>
        <div class="dk_time" ng-show="currentLevel!=0 && lightCtrl!=6 && (isEditPlan || setPtn==1)">
            <div class="clearfix">
                <div class="dk_time_div">
                    <span>开关:</span>
                    <input type="text" class="dk_time_txt" placeholder="1/0" ng-model="onOff">
                </div>
            </div>
        </div>
        <div class="ldtz" ng-show="currentLevel!=0 && lightCtrl==6 && (isEditPlan || setPtn==1)">
            <div class="ld_lt">亮度</div>
            <div id="box" ng-mousemove="calculateWidth($event)">
                <div id="bg">
                    <div class="bgcolor" id="bgcolor"></div>
                </div>
                <div class="bt" id="bt" ng-mousedown="dragBtn($event)" ng-mouseup="releaseBtn($event)"></div>
            </div>
            <div class="ld_rt">{{brightness}}%</div>
            <div class="ld_text">
                <span class="bf_01">0%</span>
                <span class="bf_02">25%</span>
                <span class="bf_03">50%</span>
                <span class="bf_04">75%</span>
                <span class="bf_05">100%</span>
            </div>
            <div id="text"  class="text" style="display:none"></div>
        </div>
        <div class="clearfix two_bt">
            <a href="" class="ld_submit" ng-click="postPtn()" ng-show="currentLevel!=0">确认</a>
            <a href="" class="ld_add" ng-show="currentLevel==4" ng-click="addGroup()">添加分组路灯</a>
        </div>
    </div>
</div>