<div id="page" class="bgh page cut-page dkgz-con">
    <div class="d_gz">
        <div class="sssj_con current_light_info">
            <dl>
                <dt>{{locationSetted}}<i></i></dt>
                <dd></dd>
            </dl>
            <dl>
                <dt>{{allLight}}<i>个</i></dt>
                <dd>总路灯</dd>
            </dl>
            <dl>
                <dt>{{openLight}}<i>个</i></dt>
                <dd>打开路灯</dd>
            </dl>
            <dl>
                <dt>{{closeLight}}<i>个</i></dt>
                <dd>关闭路灯</dd>
            </dl>
            <dl>
                <dt>{{faultLight}}<i>个</i></dt>
                <dd>故障路灯</dd>
            </dl>
            <!-- <dl ng-show="currentLevel!=0 && currentLevel!=1">
                <dt>{{info.pm2p5}}<i>克</i></dt>
                <dd>PM2.5</dd>
            </dl> -->
            <dl ng-show="false">
                <dt>23<i>%</i></dt>
                <dd>可吸入颗粒物</dd>
            </dl>
        </div>
        <div class="tjsp_con dkgx_sel">
            <label>统计类型：</label>
            <select class="spbx_table dd_text" id="tjlx" ng-model="statisticType"
                    ng-options="m.value as m.text for m in statisticTypeOptions">
            </select>
        </div>
        <div class="dd_search_div">
            <span>查询日期</span>
            <input type="text" class="dd_text" ng-model="endDate" placeholder="输入格式：2016-01-01">
        </div>
        <div class="dd_search_div">
            <span>查询时间段</span>
            <span class="" ng-repeat="item in calibrationOptions">
                <input type="radio" name="calibration" ng-model="statistic.calibrationOption"
                       value="{{item.value}}">
                <label>{{item.text}}</label>
            </span>
        </div>
        <div class="dd_search_div clearfix">
            <input type="submit" value="查询" class="dd_bt" ng-click="getStatisticInfo()">
        </div>
    </div>
    <!--灯-故障/-->
    <!--统计-->
    <div class="dgz_qh" ng-show="statisticInfo">
        <!-- <div class="dgz_qhtit"><span class="dgz_sd"><i class="cor_l"></i>{{categoryItem}}</span></div> -->
        <div class="ms_con">
            <div class="cut_qxms echart">
                <div e-chart style="width: 848px;height: 255px;" options="statisticInfo"
                     ng-if="statisticInfo"></div>
            </div>
        </div>
    </div>
    <!--统计/-->
</div>