<div class="w1200 bgh nav">
    <div class="fl nav_link">
        <!--当前选中状态 加 class="active"-->
        <a href="/smartcity/smarty_light/main.html?#/profile">概要</a>
        <a href="/smartcity/smarty_light/main.html?#/geography">地理</a>
        <a href="/smartcity/smarty_light/main.html?#/manipulation">灯控页面</a>
        <a href="/smartcity/smarty_light/main.html?#/statistic" class="active">统计</a>
        <a href="/smartcity/smarty_light/main.html?#/fault">故障列表</a>
        <a href="/smartcity/smarty_light/main.html?#/set">设置</a>
    </div>
    <div class="fr nav_time"><i><img src="src/resource/images/lm_logo.jpg" width="46" height="53"></i>

        <div class="daojishi">
            <!--time-->
            <div class="dowebok">
                <div class="hours"></div>
                <div class="minutes"></div>
                <div class="seconds" style="display:none"></div>
            </div>
            <!--time/-->
        </div>
    </div>
</div>
<!--nav/-->
<!--content-->
<div class="w1200 content cut-all">
    <!--left-->
    <div id="left-panel" class="panel bgh cut-left">
        <!--左右切换按钮-->
        <!-- <a id="left-panel-link" href="javascript:void(0)"></a> -->
        <!--左右切换按钮/-->
        <!--树型菜单-->
        <ul id="tree" class="lightTreeview">
            <tree-view tree-data="demo.tree" text-field="name" value-field='id' item-clicked="demo.itemClicked($item)"
                       item-checked-changed="demo.itemCheckedChanged($item)" can-checked="true"></tree-view>

        </ul>
        <!--树型菜单/-->
    </div>
    <!--left/-->
    <div id="page" class="bgh page cut-page dkgz-con">
        <!--灯-故障-->
        <div class="d_gz">
            <p class="tit" ng-bind="locationSetted"></p>
            <div class="tit">总共有路灯<span ng-bind="allLight"></span>个，其中打开<span ng-bind="openLight"></span>个，关闭<span ng-bind="closeLight"></span>个，故障<span ng-bind="faultLight"></span>个。</div>
            <div class="tjsp_con dkgx_sel">
                <label>统计类型：</label>
                <select class="spbx_table dd_text" id="tjlx" ng-model="statisticType"
                        ng-options="m.value as m.text for m in statisticTypeOptions">
                </select>
            </div>
            <div class="dd_search_div">
                <span>查询日期</span>
                <input type="text" class="dd_text" ng-model="endDate" placeholder="输入格式：2016-01-01">
            </div>
            <div class="dd_search_div">
                <span>查询时间段</span>
                <span class="" ng-repeat="item in calibrationOptions">
                    <input type="radio" name="calibration" ng-model="statistic.calibrationOption"
                           value="{{item.value}}">
                    <label>{{item.text}}</label>
                </span>
            </div>
            <div class="dd_search_div clearfix">
                <input type="submit" value="查询" class="dd_bt" ng-click="getStatisticInfo()">
            </div>
        </div>
        <!--灯-故障/-->
        <!--统计-->
        <div class="dgz_qh" ng-show="statisticInfo">
            <!-- <div class="dgz_qhtit"><span class="dgz_sd"><i class="cor_l"></i>{{categoryItem}}</span></div> -->
            <div class="ms_con">
                <div class="cut_qxms echart">
                    <div e-chart style="width: 848px;height: 255px;" options="statisticInfo"
                         ng-if="statisticInfo"></div>
                </div>
            </div>
        </div>
        <!--统计/-->
    </div>
</div>
<!--content/-->