<div class="dg_layer_con">
    <div class="close-light"><span>添加灯杆</span><em class="close_bt" ng-click="closeEditLight()">关闭</em></div>
    <div class="dg_con">
        <label>灯杆编号：</label>
        <input type="text" ng-model="$parent.lightNameIN" ng-show="isEdit" readonly="readonly" />
        <select class="" ng-model="$parent.lightNameIN" ng-options="m.lightId as m.lightName for m in newLightOptions" ng-show="!isEdit">
            <option value="">请选择</option>
        </select>
        <label>经度：</label>
        <input type="text" ng-model="$parent.lightLngIN">
        <label>纬度：</label>
        <input type="text" ng-model="$parent.lightLatIN">
    </div>
    <div class="dg_sumbit">
        <input type="submit" value="确认" ng-click="postLightInfo()">
    </div>
</div>