<div id="left-panel" class="panel bgh cut-left" ng-class="{fault_left: isFaultPage()}" ng-show="!isLoginPage()">
    <ul id="tree" class="lightTreeview">
        <em class="i_edit" ng-show="isSetPage()">
            <i class="i_add" ng-click="demo.addItem(null, $event)"></i>
        </em>
        <edit-tree-view tree-data="demo.tree" text-field="name" value-field='id' showOper="{{isSetPage()}}"
                        item-clicked="demo.itemClicked($item)" item-checked-changed="demo.itemCheckedChanged($item)"
                        add-Item="demo.addItem(item, e)" minus-item="demo.minusItem(item, e)"
                        can-checked="true"></edit-tree-view>
    </ul>
</div>
<div id="page" class="bgh page cut-page">
    <div class="submit_cyl" style="margin-left:30px;">
        <input type="submit" value="编辑路灯" ng-click="addLightGroup(currentId, currentLevel)" ng-show="currentLevel==3 || currentLevel==4">
        <input type="submit" value="添加分组路灯" ng-click="addGroup()" ng-show="currentLevel==4">
    </div>
    <div class="cut_lbms" style="color: #fff;">
        <table border="1" cellspacing="0" cellpadding="0" ng-if="equipmentList">
            <tbody>
            <tr>
                <th>设备类型</th>
                <th>采样频率</th>
                <th>设置层级</th>
            </tr>
            <tr ng-if="equipmentList.light">
                <td>路灯</td>
                <td>{{equipmentList.light.frequency}}分钟</td>
                <td>{{equipmentList.light.level | levelShow}}</td>
            </tr>
            <tr ng-if="equipmentList.environment">
                <td>环境</td>
                <td>{{equipmentList.environment.frequency}}分钟</td>
                <td>{{equipmentList.environment.level | levelShow}}</td>
            </tr>
            <tr ng-if="equipmentList.vehicle">
                <td>车辆</td>
                <td>{{equipmentList.vehicle.frequency}}分钟</td>
                <td>{{equipmentList.vehicle.level | levelShow}}</td>
            </tr>
            <tr ng-if="equipmentList.crowd">
                <td>人群</td>
                <td>{{equipmentList.crowd.frequency}}分钟</td>
                <td>{{equipmentList.crowd.level | levelShow}}</td>
            </tr>
            <tr ng-if="equipmentList.voice">
                <td>声音</td>
                <td>{{equipmentList.voice.frequency}}分钟</td>
                <td>{{equipmentList.voice.level | levelShow}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="sbcyl">
        <p class="tit">设备采样率</p>
        <div class="sbcyl_con">
            <div class="splx">
                <label>设备类型</label>
                <select class="" ng-model="equipmentType">
                    <option value="">请选择</option>
                    <option value="1">路灯</option>
                    <option value="2">环境</option>
                    <option value="3">车辆</option>
                    <option value="4">人群</option>
                    <option value="5">语音</option>
                </select>
            </div>
            <div class="cysj">
                <label>采样时间</label>
                <input type="text" placeholder="请输入分钟数" ng-model="equipmentFrequency">
            </div>
            <div class="submit_cyl">
                <input type="submit" value="确定" ng-click="postEquipment()">
            </div>
        </div>
    </div>
</div>