<!--nav-->
<div class="w1200 bgh nav">
    <div class="fl nav_link">
        <!--当前选中状态 加 class="active"-->
        <a href="/smartcity/smarty_light/main.html?#/profile">概要</a>
        <a href="/smartcity/smarty_light/main.html?#/geography">地理</a>
        <a href="/smartcity/smarty_light/main.html?#/manipulation">灯控页面</a>
        <a href="/smartcity/smarty_light/main.html?#/statistic">统计</a>
        <a href="/smartcity/smarty_light/main.html?#/fault">故障列表</a>
        <a href="/smartcity/smarty_light/main.html?#/set" class="active">设置</a>
    </div>
    <div class="fr nav_time"><i><img src="src/resource/images/lm_logo.jpg" width="46" height="53"></i>

        <div class="daojishi">
            <!--time-->
            <div class="dowebok">
                <div class="hours"></div>
                <div class="minutes"></div>
                <div class="seconds" style="display:none"></div>
            </div>
            <!--time/-->
        </div>
    </div>
</div>
<!--nav/-->
<!--content-->
<div class="w1200 content cut-all">
    <!--left-->
    <div id="left-panel" class="panel bgh cut-left">
        <!--左右切换按钮-->
        <!-- <a id="left-panel-link" href="javascript:void(0)"></a> -->
        <!--左右切换按钮/-->
        <!--树型菜单-->
        <ul id="tree" class="lightTreeview">
            <!-- <button ng-click="demo.addItem(null, $event)">add</button> -->
            <em class="i_edit">
                <i class="i_add" ng-click="demo.addItem(null, $event)"></i>
            </em>
            <edit-tree-view tree-data="demo.tree" text-field="name" value-field='id'
                            item-clicked="demo.itemClicked($item)" item-checked-changed="demo.itemCheckedChanged($item)"
                            add-Item="demo.addItem(item, e)" minus-item="demo.minusItem(item, e)"
                            can-checked="true"></edit-tree-view>
        </ul>
        <!--树型菜单/-->
        <!--编辑-->
        <!-- <div class="i_bj">编辑</div> -->
        <!--编辑/-->
    </div>
    <!--left/-->
    <div id="page" class="bgh page cut-page">
        <!-- <button class="btn btn-primary" ng-click="addLightGroup(currentId, currentLevel)"
                ng-show="currentLevel==3 || currentLevel==4">添加路灯
        </button> -->
        <div class="submit_cyl" style="margin-left:30px;">
            <input type="submit" value="编辑路灯" ng-click="addLightGroup(currentId, currentLevel)" ng-show="currentLevel==3 || currentLevel==4">

            <input type="submit" value="添加分组路灯" ng-click="addGroup()" ng-show="currentLevel==4">
        </div>
        <div class="cut_lbms" style="color: #fff;">
            <table border="1" cellspacing="0" cellpadding="0" ng-if="equipmentList">
                <tbody>
                <tr>
                    <th>设备类型</th>
                    <th>采样频率</th>
                    <th>设置层级</th>
                </tr>
                <tr ng-if="equipmentList.light">
                    <td>路灯</td>
                    <td>{{equipmentList.light.frequency}}分钟</td>
                    <td>{{equipmentList.light.level | levelShow}}</td>
                </tr>
                <tr ng-if="equipmentList.environment">
                    <td>环境</td>
                    <td>{{equipmentList.environment.frequency}}分钟</td>
                    <td>{{equipmentList.environment.level | levelShow}}</td>
                </tr>
                <tr ng-if="equipmentList.vehicle">
                    <td>车辆</td>
                    <td>{{equipmentList.vehicle.frequency}}分钟</td>
                    <td>{{equipmentList.vehicle.level | levelShow}}</td>
                </tr>
                <tr ng-if="equipmentList.crowd">
                    <td>人群</td>
                    <td>{{equipmentList.crowd.frequency}}分钟</td>
                    <td>{{equipmentList.crowd.level | levelShow}}</td>
                </tr>
                <tr ng-if="equipmentList.voice">
                    <td>声音</td>
                    <td>{{equipmentList.voice.frequency}}分钟</td>
                    <td>{{equipmentList.voice.level | levelShow}}</td>
                </tr>


                </tbody>
            </table>
        </div>
        <!--设备采样率-->
        <div class="sbcyl">
            <p class="tit">设备采样率</p>

            <div class="sbcyl_con">
                <div class="splx">
                    <label>设备类型</label>
                    <select class="" ng-model="equipmentType">
                        <option value="">请选择</option>
                        <option value="1">路灯</option>
                        <option value="2">环境</option>
                        <option value="3">车辆</option>
                        <option value="4">人群</option>
                        <option value="5">语音</option>
                    </select>
                </div>
                <div class="cysj">
                    <label>采样时间</label>
                    <input type="text" placeholder="请输入分钟数" ng-model="equipmentFrequency">
                </div>
                <div class="submit_cyl">
                    <input type="submit" value="确定" ng-click="postEquipment()">
                </div>
            </div>
        </div>
        <!--设备采样率/-->

        <!--点击设置类型显示灯杆列表弹窗  设置1.jpg-->
        <!--点击设置类型显示灯杆列表弹窗 设置1.jpg//-->
        <!--点击添加灯杆弹窗 设置2.jpg-->
        <!--点击添加灯杆弹窗 设置2.jpg//-->
        <!--点击编辑灯杆弹窗 设置3.jpg-->
        <!--点击编辑灯杆弹窗 设置3.jpg//-->
        <!--点击添加设备弹窗 设置4.jpg-->
        <!--点击添加设备弹窗 设置4.jpg//-->
        <!--点击添加竖型菜单弹窗-->
        <!--点击添加竖型菜单弹窗//-->
        <!--点击减号竖型菜单弹窗-->
        <!--点击减号竖型菜单弹窗//-->
    </div>
</div>
<!--content/--> 